

.background{
    
    background:white;
    height:100%;
    width:100%;
    
    left: 0;
    right: 0;
    
    
    


}




.navbar{
    height:80px;
    width:100%;

    background: black;
}


.navbar ul{
    float: right;
    margin-right: 20px;
}


.navbar ul li{
    list-style: none;
    margin: 8px;
    display: inline-block;
    line-height: 50px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: arial  black;
    transition: .4s;
}






.main .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color:rgb(209, 39, 39);   
    font-size: 70px;
    font-weight: bolder;
    width: 900px;
    text-align:center;
}
.center h2{
    color:black;
    font-size: 70px;
    font-weight: bolder;
    width: 900px;
    text-align:center;
}
.menu-item{
    background: blue;

}
.menu-item:hover{
    background: red !important;
    
}


/* Shajedul  Start*/

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Shajedul End */






